/*-- scss:defaults --*/

// use sandstone as the base
// $theme: "sandstone" !default;

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');


$font-header: 'Jost', sans-serif;
$font-body: 'EB Garamond', sans-serif;

p, ul, ol, .menu-text {
  font-family: $font-body;
  font-size: 20px;
  line-height: normal;
  text-transform: none !important; 
  text-align: justify 
}


h1, h2, h3, h4, h5, figcaption, .navbar-title {
  font-family: $font-header;
  font-size: 20px;
  text-transform: none;
}

